/* ---------------------------------------------------------------------
 Text styles
------------------------------------------------------------------------ */

.txt {
  font-family: $FONT_FAMILY_PRIMARY;
  font-weight: normal;
  line-height: 1.2;
  word-break: break-word;
}

// ------------------------------------
// TXT SIZES
// ------------------------------------

$text-sizes: 10 12 14 16 18 20 24 26 32 38 40 50 80;

@mixin createTextSizes($resolution: '') {
  @each $text-size in $text-sizes {
    .txt_#{$text-size}#{$resolution} {
      font-size: #{$text-size/10}rem;
    }
  }
}

@include createTextSizes();

// ------------------------------------
// TXT DISPLAYS
// ------------------------------------

.txt_inlineBlock {
  display: inline-block;
}

.txt_left {
  text-align: left;
}

.txt_right {
  text-align: right;
}

.txt_vAlignTop {
  vertical-align: top;
}

.txt_nudgeDown {
  position: relative;
  top: rhythm(1);
}

// ------------------------------------
// TXT WEIGHTS
// ------------------------------------

.txt_light {
  font-weight: 300;
}

.txt_bold {
  font-weight: 600;
}

// ------------------------------------
// LINE HEIGHT
// ------------------------------------

.txt_line10 {
  line-height: 1;
}

.txt_line12 {
  line-height: 1.2;
}

.txt_line13 {
  line-height: 1.3;
}

.txt_line14 {
  line-height: 1.4;
}

.txt_line15 {
  line-height: 1.5;
}

// ------------------------------------
// LETTER SPACING
// ------------------------------------

.txt_space1 {
  letter-spacing: .1rem;
}

// ------------------------------------
// TXT COLORS
// ------------------------------------

.txt_colorLightest {
  color: $COLOR_LIGHTEST;
}

.txt_colorGreyLight {
  color: $COLOR_GREY_LIGHT;
}

.txt_colorGrey {
  color: $COLOR_GREY;
}

.txt_colorGreyMedium {
  color: $COLOR_GREY_MEDIUM;
}

.txt_colorGreyDark {
  color: $COLOR_GREY_DARK;
}

.txt_colorDarkest {
  color: $COLOR_DARKEST;
}

.txt_colorRed {
  color: $COLOR_RED;
}

.txt_colorRedDark {
  color: $COLOR_RED_DARK;
}

.txt_opaque {
  opacity: 0.25;
}

// ------------------------------------
// TXT STYLE
// ------------------------------------

.txt_center {
  text-align: center;
}

.txt_italic {
  font-style: italic;
}

.txt_underline {
  text-decoration: underline;
}

.txt_uppercase {
  text-transform: uppercase;
}

.txt_capitalize {
  text-transform: capitalize;
}

.txt_strike {
  text-decoration: line-through;
}

@include breakpoint(breakpoint-size('md')) {
  @include createTextSizes('Md');

  .txt_leftMd {
    text-align: left;
  }

  .txt_colorGreyDarkMd {
    color: $COLOR_GREY_DARK;
  }
}

@include breakpoint(breakpoint-size('lg')) {
  @include createTextSizes('Lg');

  .txt_centerLg {
    text-align: center;
  }
}

@include breakpoint(breakpoint-size('xl')) {
  @include createTextSizes('Xl');
}
