@font-face {
  font-family: 'din-pro';
  src: url('assets/fonts/DINPro.woff2') format('woff2'),
       url('assets/fonts/DINPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-pro';
  src: url('assets/fonts/DINPro-Light.woff2') format('woff2'),
       url('assets/fonts/DINPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'din-pro';
  src: url('assets/fonts/DINPro-Medium.woff2') format('woff2'),
       url('assets/fonts/DINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'din-pro';
  src: url('assets/fonts/DINPro-CondensedBold.woff2') format('woff2'),
       url('assets/fonts/DINPro-CondensedBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
